<div class="container">
    <mat-card style="width: 50%; margin: auto">
    <div style="text-align: center;">
        <h1>Podaci:</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Korisničko ime:</mat-label>
                <input readonly="true" matInput [(ngModel)]="doctor.username" name="username" [formControl]="usernameForm" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ime:</mat-label>
                <input matInput [(ngModel)]="doctor.firstName" name="firstname" [formControl]="firstNameForm" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prezime:</mat-label>
                <input matInput [(ngModel)]="doctor.surname" name="surname" [formControl]="surnameForm" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>JMBG:</mat-label>
                <input matInput [(ngModel)]="doctor.personalNumber" name="personalNumber" [formControl]="personalNumberForm" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Broj telefona:</mat-label>
                <input matInput [(ngModel)]="doctor.phoneNumber" name="phoneNumber" [formControl]="phoneNumberForm" required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Mejl:</mat-label>
                <input matInput [(ngModel)]="doctor.email" name="email" [formControl]="emailForm" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="legacy" style="width: 30%;">
                <mat-label>Datum rođenja</mat-label>
                <input matInput [matDatepicker]="picker" name="dateOfBirth" [(ngModel)]="doctor.dateOfBirth" 
                [formControl]="dateOfBirthForm" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Choose one</mat-label>
                <mat-select [(ngModel)]="doctor.medicalSpeciality" name="speciality" [formControl]="medicalSpecialityForm" required>
                <mat-option value="Internists">Internista</mat-option>
                <mat-option value="Urologists">Urolig</mat-option>
                <mat-option value="Rheumatologists">Reumatolog</mat-option>
                <mat-option value="Radiologists">Radiolog</mat-option>
                <mat-option value="Pulmonologists">Pulmolog</mat-option>
                <mat-option value="Dermatologists">Dermatolog</mat-option>
                <mat-option value="Gastroenterologists">Gastroenterolog</mat-option>
                <mat-option value="Hematologists">Hematolog</mat-option>
                <mat-option value="Nephrologists">Nefrolog</mat-option>
                <mat-option value="Gynecologists">Ginekolog</mat-option>
                <mat-option value="Oncologists">Onkolog</mat-option>
                <mat-option value="Ophthalmologists">Oftamolog</mat-option>
                <mat-option value="Pediatricians">Pedijatar</mat-option>
                <mat-option value="Psychiatrists">Psihijatar</mat-option>
                <mat-option value="Immunologists">Imunolog</mat-option>
                <mat-option value="Anesthesiologists">Anesteziolog</mat-option>
                <mat-option value="Cardiologists">Kardiolog</mat-option>
                <mat-option value="Surgeon">Hirurg</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div style="text-align: center;" *ngIf="routeId === userId">
            <button mat-raised-button color="primary" (click)="saveChanges()" 
            [disabled]="usernameForm.invalid 
            || surnameForm.invalid 
            || firstNameForm.invalid 
            || personalNumberForm.invalid
            || phoneNumberForm.invalid
            || emailForm.invalid
            || dateOfBirthForm.invalid
            || medicalSpecialityForm.invalid">Izmeni podatke
            </button>
        </div>
    </div>
    </mat-card>
</div>
