<div class="container">
  <h1> Računi pacijenata </h1>
  <table mat-table [dataSource]="accounts" class="mat-elevation-z8">
    <ng-container matColumnDef="patientUsername">
      <th mat-header-cell *matHeaderCellDef> Korisnik </th>
      <td mat-cell *matCellDef="let element"> {{element.patientUsername}} </td>
    </ng-container>

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef> Broj računa </th>
      <td mat-cell *matCellDef="let element"> {{element.accountNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef> Iznos na računu </th>
      <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
    </ng-container>

    <ng-container matColumnDef="changeBalance">
      <th mat-header-cell *matHeaderCellDef> Uplati novac </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button [disabled]="role === 'ADMIN'" (click)="openPayDialog(element.id, element.patientUsername)">
          Uplati
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>