<mat-toolbar color="primary" class="navbar">
    <div> Vaša Bolnica </div>
    <div>
        <span [routerLink]="['']">Početna strana</span>
        <span *ngIf="role === 'PATIENT'" [routerLink]="['/appointments']">Pregledi</span>
        <span *ngIf="role === 'DOCTOR'" [routerLink]="['/doctor-appointments']">Pregledi</span>
        <span *ngIf="role === 'ADMIN'" [routerLink]="['/patients']">Korisnici</span>
        <span *ngIf="role !== ''" [routerLink]="['/doctors']">Lekari</span>
        <span *ngIf="role === ''" [routerLink]="['/login']">Prijava</span>
        <span *ngIf="role === ''" [routerLink]="['/registration']">Registracija</span>
        <span *ngIf="role === 'DOCTOR'" [routerLink]="['/doctor/' + currentUserId]">Moj profil</span>
        <span *ngIf="role === 'PATIENT'" [routerLink]="['/patient/account/' + currentUserId]">Stanje na računu</span>
        <span *ngIf="role === 'PATIENT'" [routerLink]="['/patient/' + currentUserId]">Moj profil</span>
        <span *ngIf="role === 'ACCOUNTANT' || role === 'ADMIN'" [routerLink]="['/accounts/']">Računi pacijenata</span>
        <span *ngIf="role === 'ACCOUNTANT'" [routerLink]="['/accountant/' + currentUserId]">Moj profil</span>
        <span *ngIf="role !== ''" (click)="logout()">Odjavi se</span>
    </div>
</mat-toolbar>