<mat-toolbar color="primary" class="navbar">
    <div> Vaša Bolnica </div>
    <div>
        <span [routerLink]="['']">Početna strana</span>
        <span *ngIf="role !== ''">Pregledi</span>
        <span [routerLink]="['/login']" *ngIf="role === ''">Prijava</span>
        <span [routerLink]="['/registration']" *ngIf="role === ''">Registracija</span>
        <span *ngIf="role !== '' && role !== 'ADMIN'">Moj profil</span>
        <span *ngIf="role !== ''" (click)="logout()">Odjavi se</span>
    </div>
</mat-toolbar>