<div class="container">
    <h1>Završeni pregledi:</h1>
    <mat-card class="card" *ngFor="let appointment of pastAppointments" class="example-card">
        <mat-card-title>{{appointment.startTime | date: 'd.M.Y HH:mm'}} - {{appointment.endTime | date:'HH:mm'}}
        </mat-card-title>
        <mat-card-subtitle>{{appointment.doctorName}} - {{appointment.doctorSpeciality}}</mat-card-subtitle>
        <mat-card-content>
            <p>Izveštaj: {{appointment.report}}</p>
            <br>
            <p>Cena: {{appointment.price}}</p>
        </mat-card-content>
    </mat-card>
</div>